thead{
    color: #337AB7;
      width: 100%;
}

table{
    table-layout: fixed;
    width:  100%;
    border-collapse: collapse;
    white-space: nowrap;
}
th{
    text-align: center;
    vertical-align: center;
}

td{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.scrollingTable {
            overflow-y: auto;
        }